sonata_composer:
    git:                /usr/bin/git
    composer:           /usr/bin/composer
    reporting:
        mailer:
            from:           Sonata Composer Creator <no-reply@sonata-project.org>
            to:             contact@sonata-project.org
            subject:        [archive-creator] %s
            smtp:
                host:       localhost
                port:       25
                username:
                password:

